body,
ul,
li,
p,
img,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    width: 1400px;
/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
}
h1 {
    font-family: 'Roboto', sans-seri;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 317px 0 114px;
}
h2 {
    font-family: 'Roboto', sans-seri;
    font-size: 60px;
    font-weight: 700; 
    color: #14AFCA;
    text-align: center;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
}
.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.parralax-skyscraper {
    height: 100%;
    background-image: url(../img/bg1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.skyscraper {
    width: 100%;
    height: 596px;
    position: relative; 
}
.skyscraper::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}
.skyscraper .container {
    margin-top: 0;
}
.header {
    display: flex;
    justify-content:space-between;
    padding: 0 200px;
    height: 113px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 25px;
}
.companyname {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #424F57;
}
.companyname span {
    text-transform: uppercase;
    color: #14AFCA;
    font-weight: 900;
}
.navigation {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;  
}
.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3E4C4E;
    font-size: 15px;
    font-weight: 700;
    transition: color 0.1s;
}
.navigation a:hover {
    color: #14AFCA;
}
.section-what {
    margin: 125px auto;
}
.section-what p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    padding: 0 205px;
}
.companies {
    width: 100%;
    height: 715px;
    margin: 125px auto;
    position: relative;
}
.parralax-companies {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parralax-companies::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.companies h3 {
    color: #fff;
}
.grig-container-brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 120px;
    align-items: center;
    padding: 20px 180px;
}
.adobe-icon {
    position: relative;
    width: 225px;
    height: 99px;
    background-color: #fff;
}
.adobe-icon::before {
    content: "";
    width: 114px;
    height: 38px;
    background-image: url(../img/adobe_icon_1.svg);
    position: absolute;
    top: 32px;
    left: 93px;
}
.adobe-icon::after {
    content: "";
    width: 77px;
    height: 63px;
    background-image: url(../img/adobe_icon.svg);
    position: absolute;
    top: 19px;
    left: 16px;
}
.meet-us {
    margin: 130px auto;
}
.flex-container-meet-us {
    display: flex;
    justify-content: space-around;
    
}
.flex-container-meet-us a {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 309px;
    align-items: center;
}
.discription {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 28px;
}
.parralax-testimonials {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.testimonials {
    height: 570px;
    position: relative;
}
.parralax-testimonials::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.testimonials h3 {
    color: #fff;
}
.testimonials p {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 145px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    line-height: 28px;
}
.testimonials figcaption {
    text-align: right;
    padding: 0 327px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 28px;
}
.why {
    margin: 130px auto;
    padding-bottom: 80px;
}
.why p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding: 0 290px;
}
.why span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: block;
    margin: 90px auto;
}
.why strong {
    font-size: 16px;
    font-weight: 700;
}
.container-arrow,
.container-arrow-black {
    position: relative;
}
.container-arrow {
    padding-top: 160px;
}
.container-arrow::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
    border-top: 50px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.container-arrow-black::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 700px solid #fff;
    border-right: 700px solid #fff;
    border-top: 50px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
